{% extends 'base.html' %}
{% include 'header.html' %}
 
{% block title %} Add Student {% endblock %}
{% block header %} Add Student {% endblock %}
 
{% block body %}


<div class="container">
<form action='' method = "POST" onsubmit="return flase;">
<table class="table">
    <tr>
        <td>Name</td>
        <td><input id="input-name" type = "name" name = "name" 
                   class="form-control" 
                   required 
                   pattern="(\w.+\s).+"
                   title="Name must contain at least 2 words."/>
        </td>
    </tr>
    <tr>
        <td>Total_Min</td>
        <td><input type = "text" name = "total_min" 
                   class="form-control" 
                   pattern="^[0-9]*$"
                   title="Only integers are accepted!" />
        </td>
    </tr>

    <tr>
        <td>Total_Percentage</td>
        <td><input type = "text" name = "total_percentage" 
            class="form-control" 
            pattern="^[0-9]*\.[0-9]{2}$"
            title="Only float numbers with 2 digits after decimal ponit are accepted!" />
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <input type="submit" name="Submit" value="Submit" class="btn btn-outline-primary">
        </td>
       
    </tr>
</table>
  </form>
</div>

{% endblock %}