{% extends 'base.html' %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {%  if category == 'error' %}
      <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% else %}
      <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {%  endif %}
    {% endfor %}
  {% endif %}
{% endwith %}
<div class="container-fluid" style="background-color: #3d7ffc">
  <div class="container">
<nav class="navbar navbar-expand-lg navbar-light" >
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color: #ffffff"><b>8200dev Course Attendance</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/" style="color: #ffffff">Stable Table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/temp" style="color: #ffffff">Temporary Table</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
</div>
{% endblock %}